* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}


/* common element */


.primary-color {
    color: #FD6E0A;
}

.primary-btn {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px 19px 36px;
}


.section-title {
    color: var(--Dark-01, #181818);
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
}



/* nav related style */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}


.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}


nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}


/* header related style*/


.header {
    background: #FFF8F3;
    ;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, top left;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {}


.banner-greeting {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 0px;

}

.banner-title {
    color: #181818;
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}


.banner .pragaraph {
    color: var#757575;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
    margin-bottom: 30px;
    max-width: 585px;
}


.about {
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0;
}


.about .paragraph {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    text-align: center;

}


main {
    max-width: 1140px;
    margin: 0 auto;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.info-title {
    text-align: center;
}


/* skils related styles */



.what-i-do-discription {
    padding: 25px 150px 50px 150px;
}

.skill-container {
    display: flex;
    gap: 24px;
}

.skill {
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);

}

.skill-title {
    padding: 25px 0px 25px 0px;
}

.skill-discription {
    color: #757575;
}


/* resume section style */


.resume-container {
    display: flex;
    justify-content: space-around;

}

.column-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}


.resume-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}


.resume-title {
    margin-bottom: 35px;
    color: #474747;
    font-size: 30px;
    font-weight: 700;


}

.resume-instatitue {
    margin-top: 59px;
    margin-bottom: 24px;
    color: #474747;
    font-size: 25px;
    font-weight: 700;
}

.resume-date {
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.section-title-new {
    margin-top: 74px;
    margin-bottom: 85px;
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.resume-instatitue {
    color: #757575;
    font-size: 16px;
    font-weight: 400;

}

.button-section .button{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px 19px 36px;
    align-items: center;
}

.resume-discription{
    margin-bottom: 15px;
    color: #757575;
    font-size: 16px;
    font-weight: 400;
}

.downlod-cv {
    text-align: center;
    margin: 60px 0 100px 0;
}

/* footer styles */


.footer{
    display: flex;
    background: #FFF8F3;
    padding: 130px 220px;
    gap: 100px;
}

.left-column .right-column{
    width: 50%;
}

.sosial-links a{
    margin-right: 25px;
   
}

.sosial-links{
    margin-top: 25px;
}


.contact input[type="name"], .contact input[type="email"], textarea {
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    border: 0;
    background: white;
    width: 100%;
}

.footer .column-title{
    margin-bottom: 30px;
}